#home{
    height: 88vh;
    background-color: brown;
}
#cartelera{
    height: 88vh;
    background-color: rgb(173, 232, 120);
}
#project{
    height: 88vh;
    background-color: rgb(112, 120, 237);
}

header {
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
}


